<footer class="footer footer-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2022 © Laboratorium Lingkungan Hidup Daerah DKI Jakarta.</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right mb-0">Version 2.0</p>
            </div>
        </div>
    </div>
</footer>
