@model MetodeSampling

<form action="/master/metode-sampling/store" method="post">
    <div class="modal-header">
        @if (Model.MetodeSamplingID != 0)
        {
            <h5 class="model-title">Edit Master Metode Sampling</h5>
        }
        else
        {
            <h5 class="modal-title">Tambah Master Metode Sampling</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="MetodeSamplingID">
        <div class="form-group mb-3">
            <label>Nama Metode Sampling</label>
            <input type="text" asp-for="NamaMetode" class="form-control" autofocus autocomplete="off" />
            <span asp-validation-for="NamaMetode" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Kode</label>
            <input type="text" asp-for="Kode" class="form-control" autocomplete="off" />
            <span asp-validation-for="Kode" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Deskripsi</label>
            <textarea rows="3" asp-for="Deskripsi" class="form-control"></textarea>
            <span asp-validation-for="Deskripsi" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
