@{
    ViewBag.Title = "Kelurahan";
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Kelurahan</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Master Data</li>
                    <li class="breadcrumb-item">Wilayah</li>
                    <li class="breadcrumb-item">Kelurahan</li>
                </ol>
            </div>
            @*<div class="col-sm-6">
                <div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="plus-circle"></i></a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</div>
