<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Informasi Contoh Uji</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Jenis Pengajuan <span class="text-danger">*</span></label>
                            <select class="form-control sJenisPengajuan"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Tipe Pengajuan <span class="text-danger">*</span></label>
                            <select class="form-control sTipePengajuan"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Tipe Lokasi <span class="text-danger">*</span></label>
                            <select class="form-control sTipeLokasi"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Nama Contoh Uji <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Petugas Sampling <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Wadah <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Waktu Sampling <span class="text-danger">*</span></label>
                            <select class="form-control"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Volume Contoh <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Metode Sampling <span class="text-danger">*</span></label>
                            <select class="form-control sMetodeSampling"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Pengawetan <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>latitude <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Longitude <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Parameter Analisa Contoh Uji</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Output Hasil Uji <span class="text-danger">*</span></label>
                            <select class="form-control sOutputHasil"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Baku Mutu <span class="text-danger">*</span></label>
                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Badan Air Penerima <span class="text-danger">*</span></label>
                            <select class="form-control"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Nama Sungai/Drainase Jalan <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2 mb-4">
                <button class="btn btn-warning mr-2" x-on:click="modul = 1">Kembali</button>
                <button class="btn btn-primary mr-2">Simpan</button>
            </div>
        </div>       
    </div>
</div>
