@{
    ViewBag.Title = "Transaksi Pengajuan";
    ViewBag.Parent = "Transaction";
}

@section plugincss {
        <!--datatable css-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
        <!--datatable responsive css-->
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    @*select2*@
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section styles {
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    <link href="~/dist/assets/css/custom.css" rel="stylesheet" type="text/css" />
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">@ViewBag.Title</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Transaksi</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<!-- Content -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h5 class="card-title mb-0">Data @ViewBag.Title</h5>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-primary btn-sm showMe" href="/transaction/clients/create"><i class="ri-play-list-add-line"></i> Tambah</a>
                    </div>
                </div>                
            </div>
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="tblData" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tgl. Pengajuan</th>
                                <th>Nomor Pengajuan</th>
                                <th>Tgl. Penyerahan Sample</th>
                                <th>Nama PT/Instansi</th>
                                <th>Biaya Total</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>