<div class="row">
    <div class="col-lg-12">
        <form id="FormTambahPengajuan" method="post" action="">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Informasi Contoh Uji</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-xs-12">
                            <div class="form-group mb-3">
                                <label for="JenisPengajuan" class="control-label">Jenis Pengajuan <span class="text-danger">*</span></label>
                                <select id="JenisPengajuan" name="JenisPengajuan" class="form-control sJenisPengajuan web-select2" data-type="select"></select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Tipe Pengajuan <span class="text-danger">*</span></label>
                                <select id="TipePengajuan" class="form-control sTipePengajuan web-select2" ></select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Tipe Lokasi <span class="text-danger">*</span></label>
                                <select id="TipeLokasi" class="form-control sTipeLokasi"></select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Nama Contoh Uji <span class="text-danger">*</span></label>
                                <input type="text" id="NamaContoh" name="NamaContoh" class="form-control" placeholder="-- Wajib Diisi --" />
                            </div>
                            <div class="form-group mb-3">
                                <label>Petugas Sampling <span class="text-danger">*</span></label>
                                <input type="text" id="PetugasSampling" class="form-control" placeholder="-- Wajib Diisi --"  />
                            </div>
                            <div class="form-group mb-3">
                                <label>Wadah <span class="text-danger">*</span></label>
                                <input type="text" id="Wadah" class="form-control" placeholder="-- Wajib Diisi --"  />
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label>Volume Contoh <span class="text-danger">*</span></label>
                            <input type="text" id="VolumeContoh" class="form-control" placeholder="contoh: 300 ml" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Metode Sampling <span class="text-danger">*</span></label>
                            <select id="MetodeSampling" class="form-control sMetodeSampling"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Pengawetan <span class="text-danger">*</span></label>
                            <input type="text" id="Pengawetan" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>latitude <span class="text-danger">*</span></label>
                            <input type="text" id="Latitude" class="form-control" placeholder="contoh: -6.2293866" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Longitude <span class="text-danger">*</span></label>
                            <input type="text" id="Longitude" class="form-control" placeholder="contoh: 106.689089" />
                        </div>
                    </div>
                </div>                
            </div>        
            <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Parameter Analisa Contoh Uji</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Output Hasil Uji <span class="text-danger">*</span></label>
                            <select id="OutputHasilID" class="form-control sOutputHasil"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Baku Mutu <span class="text-danger">*</span></label>
                            <select class="form-control sBakuMutu"></select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xs-12">
                        <div class="form-group mb-3">
                            <label>Badan Air Penerima <span class="text-danger">*</span></label>
                            <select class="form-control">
                                <option>-- Pilih Badan Air Penerima --</option>
                                <option value="Sungai">Sungai</option>
                                <option value="Drainase">Drainase</option>
                                <option value="-">-</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Nama Sungai/Drainase Jalan <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="-- Detail Lokasi --" />
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="text-end mb-3">
                            <button type="button" class="btn btn-primary" onclick="ChangeView(3)"><i class="ri-add-circle-line"></i> Update Parameter</button>
                        </div>
                        <table id="tblParameter" class="table table-responsive table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Parameter</th>
                                    <th class="text-center">Satuan</th>
                                    <th class="text-center">Metode</th>
                                    <th class="text-center">Biaya Uji</th>
                                    <th class="text-center">Biaya Alat</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-center">Tidak ada data</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center mt-2 mb-4">
                            <button class="btn btn-warning mr-2" onclick="ChangeView(1)">Kembali</button>
                            <button id="btnSave" class="btn btn-primary mr-2">Simpan</button>
                        <div class="col-xl-6 col-xs-12">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>Tanggal Sampling <span class="text-danger">*</span></label>
                                    <input type="text" id="TanggalSampling" class="form-control datepick" readonly  />
                                </div>
                                <div class="col-6">
                                    <label>Waktu Sampling <span class="text-danger">*</span></label>
                                    <input type="text" id="WaktuSampling" class="form-control timepick" readonly  />
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Volume Contoh <span class="text-danger">*</span></label>
                                <input type="text" id="VolumeContoh" class="form-control" placeholder="contoh: 300 ml"  />
                            </div>
                            <div class="form-group mb-3">
                                <label>Metode Sampling <span class="text-danger">*</span></label>
                                <select id="MetodeSampling" class="form-control sMetodeSampling" ></select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Pengawetan <span class="text-danger">*</span></label>
                                <input type="text" id="Pengawetan" class="form-control"  />
                            </div>
                            <div class="form-group mb-3">
                                <label>latitude <span class="text-danger">*</span></label>
                                <input type="text" id="Latitude" class="form-control" placeholder="contoh: -6.2293866"  />
                            </div>
                            <div class="form-group mb-3">
                                <label>Longitude <span class="text-danger">*</span></label>
                                <input type="text" id="Longitude" class="form-control" placeholder="contoh: 106.689089"  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Parameter Analisa Contoh Uji</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-xs-12">
                            <div class="form-group mb-3">
                                <label>Output Hasil Uji <span class="text-danger">*</span></label>
                                <select id="OutputHasilID" class="form-control sOutputHasil" ></select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Baku Mutu <span class="text-danger">*</span></label>
                                <select class="form-control sBakuMutu" ></select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-xs-12">
                            <div class="form-group mb-3">
                                <label>Badan Air Penerima <span class="text-danger">*</span></label>
                                <select class="form-control" >
                                    <option>-- Pilih Badan Air Penerima --</option>
                                    <option value="Sungai">Sungai</option>
                                    <option value="Drainase">Drainase</option>
                                    <option value="-">-</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Nama Sungai/Drainase Jalan <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="-- Detail Lokasi --"  />
                            </div>
                        </div>
                        <div class="mt-5">
                            <table id="tblParameter" class="table table-responsive table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">Parameter</th>
                                        <th class="text-center">Satuan</th>
                                        <th class="text-center">Metode</th>
                                        <th class="text-center">Biaya Uji</th>
                                        <th class="text-center">Biaya Alat</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">Tidak ada data</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center mt-2 mb-4">
                                <button class="btn btn-warning mr-2" onclick="ChangeView(1)">Kembali</button>
                                <button type="submit" id="btnSaveDetail" class="btn btn-primary mr-2">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
    </div>
</div>
        </form>
    </div>
</div>
