@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Lingkungan Hidup Provinsi DKI Jakarta</title>
    <link rel="stylesheet" type="text/css" href="~/dist/assets/css/bootstrap.min.css" />    
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    <link rel="shortcut icon" href="~/logo-dinas.ico">
  </head>
  <body>    
    <div class="container px-4 mt-3">
      <nav class="d-flex justify-content-between">
        <div class="d-flex gap-3">
          <img src="~/dist/assets/images/logo/jaya-raya.png" style="height:60px;" alt="" />
          <img src="~/dist/assets/images/logo/dlh.png" style="height:60px;" alt="" />
        </div>
        <div>
          <a href="/login" class="btn btn-theme fw-bold" style="font-size: 1.2rem">Sign In</a>
          <a href="/register" class="btn btn-primary fw-bold" style="font-size:1.2rem">Register</a>
        </div>
      </nav>
    </div>

    <div
      class="d-flex align align-items-start align-items-md-center"
      style="min-height: 90vh"
    >
      <main class="container mt-5">
        <div class="row">
          <div class="col-md-7 col-12">
            <div class="text-navy">
              <h2>Pelayanan Pengujian</h2>
              <h1 class="">Labolatorium Lingkungan Hidup Daerah</h1>
              <h3>Pemerintah Provinsi Daerah Khusus Ibukota Jakarta</h3>
            </div>

            <div class="mt-5">
              <p class="fw-semibold fs-5">
                Pelayanan Pengujian Labolatorium yang dapat dilayani terdiri
                dari:
              </p>

              <p class="fw-bold mt-4">Pengujian Contoh Uji Air :</p>
              <p>
                Air Limbah, Air Sungai, Air Situ, Air Tanah, dan Air Perpipaan
              </p>

              <p class="fw-bold mt-4">Pengujian Contoh Uji Udara :</p>
              <p>
                Ambient, Kualitas Udara Dalam Ruangan, Emisi Sumber Bergerak,
                Emisi Sumber Tidak Bergerak, Kebisingan, dan Getaran
              </p>

              <p class="fw-bold mt-4">Jam Pelayanan:</p>
              <p>Senin - Jum'at : 08.00 - 15.00 WIB</p>
              <p>Khusus hari Jum'at tidak menerima parameter mikrobiologi)</p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <img src="~/dist/assets/images/logo/hero-image.svg" heroImage style="width:40%" alt="" />    
  </body>
</html>