@model BakuMutuVM

<form asp-action="StoreBakuMutu" asp-controller="BakuMutu" method="post">
    <div class="modal-header">
        @if (Model.BakuMutu.BakuMutuID != 0)
        {
            <h5 class="model-title">Edit Master Baku Mutu</h5>
        }
        else
        {
            <h5 class="modal-title">Tambah Master Baku Mutu</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="BakuMutu.BakuMutuID">
        <input type="hidden" asp-for="BakuMutu.BiayaUji" class="rBiayaUji" />
        <input type="hidden" asp-for="BakuMutu.BiayaUji" class="rBiayaAlat" />
        <div class="form-group mb-3">
            <label>Jenis Pengajuan</label>
            <select asp-for="JenisPengajuanID" class="form-control sJenisPengajuan" required autofocus>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Tipe Pengajuan</label>
            <select asp-for="TipePengajuanID" class="form-control sTipePengajuan" required>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Output Hasil Uji</label>
            <select asp-for="BakuMutu.OutputHasilID" class="form-control sOutputHasil" required>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Jenis Baku Mutu</label>
            <select asp-for="BakuMutu.JenisBakuMutuID" class="form-control sJenisBakuMutu" required>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Metode Parameter</label>
            <select asp-for="BakuMutu.MetodeParameterID" class="form-control sMetodeParameter">
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Parameter</label>
            <select asp-for="BakuMutu.ParameterID" class="form-control sParameter" required>
            </select>
        </div>
        
        <div class="form-group mb-3">
            <label>Biaya Uji</label>
            <input type="text" id="biayaUji" class="form-control autonumber" />
        </div>
        <div class="form-group mb-3">
            <label>Biaya Alat</label>
            <input type="text" id="biayaAlat" class="form-control autonumber" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
