@using System.Security.Claims
@model RegistrationVM

@{
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Form Kelengkapan Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Registrasi Client LLHD" name="description" />
    <meta content="Rangga Dwi" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/logo-dinas.ico">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Layout config Js -->
    <script src="~/dist/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/dist/assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>    
    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center mb-4">
                                <h1 class="text-white">Form Kelengkapan Data</h1>
                            </div>
                        </div>
                        <div class="card overflow-hidden">                            
                            <div class="row g-0 pt-3">
                                <div class="col-lg-12">                                    
                                    <form action="/clients/store" class="p-4" method="post" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="Client.ClientID" />
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <h2>Informasi Akun</h2>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Email Login <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.Email" class="form-control" value="@User.Identity!.Name" readonly placeholder="Email Login" required />
                                                </div>                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Nama Kegiatan Usaha <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.NamaClient" class="form-control" placeholder="Nama Kegiatan" value="@(((ClaimsIdentity)User.Identity!).Claims.Where(c => c.Type == "given_name").Select(c => c.Value).SingleOrDefault())" readonly required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Tipe Usaha <span class="text-danger">*</span></label>
                                                    <select asp-for="Client.TipeUsahaID" id="sTipeUsaha" class="form-control" required></select>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Bidang Usaha <span class="text-danger">*</span></label>
                                                    <select asp-for="Client.BidangUsahaID" id="sBidangUsaha" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Telp. Perusahaan <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.Phone" class="form-control" placeholder="No. Telp" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Provinsi <span class="text-danger">*</span></label>
                                                    <select id="sProvinsi" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Kota / Kabupaten <span class="text-danger">*</span></label>
                                                    <select id="sKabupaten" class="form-control" required></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Kecamatan <span class="text-danger">*</span></label>
                                                    <select id="sKecamatan" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Kelurahan <span class="text-danger">*</span></label>
                                                    <select asp-for="Client.KelurahanID" id="sKelurahan" class="form-control" required></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Alamat <span class="text-danger">*</span></label>
                                                    <textarea asp-for="Client.Alamat" class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <h2>Data PIC</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Nama PIC <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.NamaPIC" class="form-control" placeholder="Nama PIC" required />
                                                </div>                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">NIK <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.NIK" class="form-control" placeholder="NIK / No KTP" required />
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Posisi <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.PosisiPIC" class="form-control" placeholder="Posisi" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Email PIC <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.EmailPIC" class="form-control" placeholder="Email PIC" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Telepon <span class="text-danger">*</span></label>
                                                    <input asp-for="Client.TelpPIC" class="form-control" placeholder="Telepon" required />
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Dokumen</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">KTP <span class="text-danger">*</span></label>
                                                    <input type="file" asp-for="KTP" class="form-control" accept="application/pdf, image/*" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Surat Kuasa / Keterangan <span class="text-danger">*</span></label>
                                                    <input type="file" asp-for="SuratKuasa" class="form-control" accept="application/pdf, image/*" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Dokumen Perizinan Lingkungan</label>
                                                    <input type="file" asp-for="Izin" class="form-control" accept="application/pdf, image/*" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center mt-3">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">
                                &copy;
                                <script>document.write(new Date().getFullYear())</script> LLHD. Dinas Lingkungan Hidup Provinsi DKI Jakarta
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->
    <!-- JAVASCRIPT -->
    <script src="~/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/dist/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/dist/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/dist/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/dist/assets/js/plugins.js"></script>

    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="~/pages/wilayah/populate.js"></script>
    <script src="~/pages/registration/index.js"></script>
</body>

</html>