@model MetodeParameter

<form asp-action="Store" asp-controller="MetodeParameter" method="post">
    <div class="modal-header">
        @if (Model.MetodeParameterID != 0)
        {
            <h5 class="model-title">Edit Master Metode Parameter</h5>
        }
        else
        {
            <h5 class="modal-title">Tambah Master Metode Parameter</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="MetodeParameterID">
        <div class="form-group">
            <label>Nama Metode Parameter</label>
            <input type="text" asp-for="NamaMetode" class="form-control" autofocus autocomplete="off" />
            <span asp-validation-for="NamaMetode" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>